<!DOCTYPE html>
<html>
<head>
  <title>OsuJobs</title>
  <%= stylesheet_link_tag    'application',
                             'https://cdn.datatables.net/r/bs-3.3.5/jq-2.1.4,dt-1.10.8/datatables.min.css',
                             media: 'all',
                             'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%= yield %>
  </div>

  <%= javascript_include_tag 'https://cdn.datatables.net/r/bs-3.3.5/jqc-1.11.3,dt-1.10.8/datatables.min.js', 'application', 'data-turbolinks-track' => true %>
  <%= yield :after_js %>
</body>
</html>
